@model NewAgeClm.Models.ViewModel.ProjectAttributesViewModel

@{
	ViewData["Title"] = "Project attributes";
}

<br />
@{ControllerWIthId controller = new ControllerWIthId();}
<div class="row">
	<div class="col-6">
		<h2 class="text-info">Types</h2>
	</div>
	<div class="col-6 text-right">

	</div>
</div>

<br />
<div>
	<table class="table table-striped border">
		<tr class="table-info">
			<th>
				@Html.DisplayNameFor(m => m.ProjectTypes) <!--Html helper-->
			</th>
			<th>Id</th>
			<th></th>
			<th>
				<a asp-controller="ProjectTypes" asp-action="Create" class="btn btn-info" style="float:right;">
					<i class=" fas fa-plus-square"></i>
				</a>
			</th>
		</tr>
		@{ controller.ControllerName = "ProjectTypes";}
		@foreach (var type in Model.ProjectTypes)
		{
			controller.Id = type.Id;
			<tr>
				<td>
					@Html.DisplayFor(m => type.Name)
				</td>
				<td>
					@Html.DisplayFor(m => type.Id)
				</td>
				<td>
					<partial name="_TableButtonsWithControllerPartial" model="controller" />
			</tr>
		}
	</table>
</div>
<hr />
<br />
<div class="row">
	<div class="col-6">
		<h2 class="text-info">Statuses</h2>
	</div>

</div>

<br />
<div>
	<table class="table table-striped border">
		<tr class="table-info">
			<th>
				@Html.DisplayNameFor(m => m.Statuses) <!--Html helper-->
			</th>
			<th>Id</th>
			<th></th>
			<th>
				<a asp-controller="Statuses" asp-action="Create" class="btn btn-info" style="float:right;">
					<i class=" fas fa-plus-square"></i>
				</a>
			</th>
		</tr>
		@{ controller.ControllerName = "Statuses";}
		@foreach (var status in Model.Statuses)
		{
			controller.Id = status.Id;
			<tr>
				<td>
					@Html.DisplayFor(m => status.Name)
				</td>
				<td>
					@Html.DisplayFor(m => status.Id)
				</td>
				<td>
					<partial name="_TableButtonsWithControllerPartial" model="controller" />
			</tr>
		}
	</table>
</div>

<hr />
<br />
<div class="row">
	<div class="col-6">
		<h2 class="text-info">Priorities</h2>
	</div>

</div>

<br />
<div>
	<table class="table table-striped border">
		<tr class="table-info">
			<th>
				@Html.DisplayNameFor(m => m.Priorities) <!--Html helper-->
			</th>
			<th>Id</th>
			<th></th>
			<th>
				<a asp-controller="Priorities" asp-action="Create" class="btn btn-info" style="float:right;">
					<i class=" fas fa-plus-square"></i>
				</a>
			</th>
		</tr>
		@{ controller.ControllerName = "Priorities";}
		@foreach (var priority in Model.Priorities)
		{
			controller.Id = priority.Id;
			<tr>
				<td>
					@Html.DisplayFor(m => priority.Name)
				</td>
				<td>
					@Html.DisplayFor(m => priority.Id)
				</td>
				<td>
					<partial name="_TableButtonsWithControllerPartial" model="controller" />
			</tr>
		}
	</table>
</div>